includes:
    - vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 9
    paths:
        - app
    ignoreErrors:
        - '#Cannot call method tokens\(\) on mixed.#'
        - '#Cannot call method currentAccessToken\(\) on mixed.#'
    